GCOOP/WebPortal/WebPortal/Web References/Itm/WptService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="memberNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMemberResult" type="tns:ArrayOfCWmember" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCWmember">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CWmember" nillable="true" type="tns:CWmember" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CWmember">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MembName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MembSurname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MemberNo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MemberDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="BirthDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetApprvLoan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="memberNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetApprvLoanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetApprvLoanResult" type="tns:ArrayOfCWApprvLoan" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCWApprvLoan">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CWApprvLoan" nillable="true" type="tns:CWApprvLoan" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CWApprvLoan">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LnReqDocNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LnTypeCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LnTypeDesc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LnContNO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LnReqAmt" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="LnAppvAmt" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="LnReqStatus" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AppvDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCollwho">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="memberNO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCollwhoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCollwhoResult" type="tns:ArrayOfCWCollWho" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCWCollWho">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CWCollWho" nillable="true" type="tns:CWCollWho" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CWCollWho">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LnContNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MembName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MembSurname" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="_PrincBal" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDept">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="memberNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDeptResult" type="tns:ArrayOfCWDept" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCWDept">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CWDept" nillable="true" type="tns:CWDept" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CWDept">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeptAccNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeptAccName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeptTypeDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Prncbal" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDeptStm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="deptAccNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeptStmResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDeptStmResult" type="tns:ArrayOfCWDeptStm" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCWDeptStm">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CWDeptStm" nillable="true" type="tns:CWDeptStm" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CWDeptStm">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DeptItemAmt" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="PrncBal" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="SeqNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DeptTypeCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeptAccNo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OprDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDivAvg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="memberNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDivAvgResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDivAvgResult" type="tns:ArrayOfCWDivAvg" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCWDivAvg">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CWDivAvg" nillable="true" type="tns:CWDivAvg" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CWDivAvg">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DivAvgYear" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DivAmt" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="AvgAmt" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetKeeping">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="memberNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetKeepingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetKeepingResult" type="tns:ArrayOfCWKeeping" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCWKeeping">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CWKeeping" nillable="true" type="tns:CWKeeping" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CWKeeping">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Seqno" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="KeepTypeDesc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RecvPeriod" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ItemPayment" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetLoan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="memberNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLoanResult" type="tns:ArrayOfCWLoan" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCWLoan">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CWLoan" nillable="true" type="tns:CWLoan" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CWLoan">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LnContNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LnTypeCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PrncBal" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="PeriodPayment" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="LnReqAmt" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="StartContDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetLoanStm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lnContNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoanStmResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLoanStmResult" type="tns:ArrayOfCWLoanStm" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCWLoanStm">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CWLoanStm" nillable="true" type="tns:CWLoanStm" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CWLoanStm">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LncontNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BranchId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LnTypeCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RefDocNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MoneyTypeCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EntryId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SeqNO" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Period" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ItemStatus" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SlipDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="OprDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CalintForm" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CalintTo" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="EntryDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="PrncPayment" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="InterestPayment" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="PrncBal" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="BfintarrearAmt" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="InterestPeriod" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="InterestArrear" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="InterestReturn" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetRegMem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="memberNO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRegMemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRegMemResult" type="tns:ArrayOfCWRegister" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCWRegister">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CWRegister" nillable="true" type="tns:CWRegister" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CWRegister">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MemberNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MembName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MembSurname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CardPerson" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConfPass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OldPass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NewPass" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertReg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="member" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="surname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertRegResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertRegResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRegUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="memberNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRegUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRegUserResult" type="tns:ArrayOfCWRegister" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateRegUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="member" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateRegUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateRegUserResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetShare">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="memberNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetShareResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetShareResult" type="tns:ArrayOfCWShare" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCWShare">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CWShare" nillable="true" type="tns:CWShare" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CWShare">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ShareStkAmt" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ShareBeginAmt" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="PeriodShareAmt" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ShareValue" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="PeriodBaseAmat" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="LastPeriod" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetShareStm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="memberNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetShareStmResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetShareStmResult" type="tns:ArrayOfCWShareStm" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCWShareStm">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CWShareStm" nillable="true" type="tns:CWShareStm" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CWShareStm">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ShareTypeCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShaItemTypeCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShaItemTypeDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ShareAmount" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ShareValue" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="SeqNo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OprDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetWhocoll">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="memberNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWhocollResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWhocollResult" type="tns:ArrayOfCWWhocoll" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCWWhocoll">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CWWhocoll" nillable="true" type="tns:CWWhocoll" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CWWhocoll">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LnContNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PrncBal" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="CheckMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="memberNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardPerson" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckMemberResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="arr" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="memberNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailAddr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserPasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="memberNO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oldpwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newpwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="confpwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChangePasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetMemberSoapIn">
    <wsdl:part name="parameters" element="tns:GetMember" />
  </wsdl:message>
  <wsdl:message name="GetMemberSoapOut">
    <wsdl:part name="parameters" element="tns:GetMemberResponse" />
  </wsdl:message>
  <wsdl:message name="GetApprvLoanSoapIn">
    <wsdl:part name="parameters" element="tns:GetApprvLoan" />
  </wsdl:message>
  <wsdl:message name="GetApprvLoanSoapOut">
    <wsdl:part name="parameters" element="tns:GetApprvLoanResponse" />
  </wsdl:message>
  <wsdl:message name="GetCollwhoSoapIn">
    <wsdl:part name="parameters" element="tns:GetCollwho" />
  </wsdl:message>
  <wsdl:message name="GetCollwhoSoapOut">
    <wsdl:part name="parameters" element="tns:GetCollwhoResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeptSoapIn">
    <wsdl:part name="parameters" element="tns:GetDept" />
  </wsdl:message>
  <wsdl:message name="GetDeptSoapOut">
    <wsdl:part name="parameters" element="tns:GetDeptResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeptStmSoapIn">
    <wsdl:part name="parameters" element="tns:GetDeptStm" />
  </wsdl:message>
  <wsdl:message name="GetDeptStmSoapOut">
    <wsdl:part name="parameters" element="tns:GetDeptStmResponse" />
  </wsdl:message>
  <wsdl:message name="GetDivAvgSoapIn">
    <wsdl:part name="parameters" element="tns:GetDivAvg" />
  </wsdl:message>
  <wsdl:message name="GetDivAvgSoapOut">
    <wsdl:part name="parameters" element="tns:GetDivAvgResponse" />
  </wsdl:message>
  <wsdl:message name="GetKeepingSoapIn">
    <wsdl:part name="parameters" element="tns:GetKeeping" />
  </wsdl:message>
  <wsdl:message name="GetKeepingSoapOut">
    <wsdl:part name="parameters" element="tns:GetKeepingResponse" />
  </wsdl:message>
  <wsdl:message name="GetLoanSoapIn">
    <wsdl:part name="parameters" element="tns:GetLoan" />
  </wsdl:message>
  <wsdl:message name="GetLoanSoapOut">
    <wsdl:part name="parameters" element="tns:GetLoanResponse" />
  </wsdl:message>
  <wsdl:message name="GetLoanStmSoapIn">
    <wsdl:part name="parameters" element="tns:GetLoanStm" />
  </wsdl:message>
  <wsdl:message name="GetLoanStmSoapOut">
    <wsdl:part name="parameters" element="tns:GetLoanStmResponse" />
  </wsdl:message>
  <wsdl:message name="GetRegMemSoapIn">
    <wsdl:part name="parameters" element="tns:GetRegMem" />
  </wsdl:message>
  <wsdl:message name="GetRegMemSoapOut">
    <wsdl:part name="parameters" element="tns:GetRegMemResponse" />
  </wsdl:message>
  <wsdl:message name="InsertRegSoapIn">
    <wsdl:part name="parameters" element="tns:InsertReg" />
  </wsdl:message>
  <wsdl:message name="InsertRegSoapOut">
    <wsdl:part name="parameters" element="tns:InsertRegResponse" />
  </wsdl:message>
  <wsdl:message name="GetRegUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetRegUser" />
  </wsdl:message>
  <wsdl:message name="GetRegUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetRegUserResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateRegUserSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateRegUser" />
  </wsdl:message>
  <wsdl:message name="UpdateRegUserSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateRegUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetShareSoapIn">
    <wsdl:part name="parameters" element="tns:GetShare" />
  </wsdl:message>
  <wsdl:message name="GetShareSoapOut">
    <wsdl:part name="parameters" element="tns:GetShareResponse" />
  </wsdl:message>
  <wsdl:message name="GetShareStmSoapIn">
    <wsdl:part name="parameters" element="tns:GetShareStm" />
  </wsdl:message>
  <wsdl:message name="GetShareStmSoapOut">
    <wsdl:part name="parameters" element="tns:GetShareStmResponse" />
  </wsdl:message>
  <wsdl:message name="GetWhocollSoapIn">
    <wsdl:part name="parameters" element="tns:GetWhocoll" />
  </wsdl:message>
  <wsdl:message name="GetWhocollSoapOut">
    <wsdl:part name="parameters" element="tns:GetWhocollResponse" />
  </wsdl:message>
  <wsdl:message name="CheckMemberSoapIn">
    <wsdl:part name="parameters" element="tns:CheckMember" />
  </wsdl:message>
  <wsdl:message name="CheckMemberSoapOut">
    <wsdl:part name="parameters" element="tns:CheckMemberResponse" />
  </wsdl:message>
  <wsdl:message name="GetLoginSoapIn">
    <wsdl:part name="parameters" element="tns:GetLogin" />
  </wsdl:message>
  <wsdl:message name="GetLoginSoapOut">
    <wsdl:part name="parameters" element="tns:GetLoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserPassword" />
  </wsdl:message>
  <wsdl:message name="GetUserPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="WptServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMember">
      <wsdl:input message="tns:GetMemberSoapIn" />
      <wsdl:output message="tns:GetMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetApprvLoan">
      <wsdl:input message="tns:GetApprvLoanSoapIn" />
      <wsdl:output message="tns:GetApprvLoanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCollwho">
      <wsdl:input message="tns:GetCollwhoSoapIn" />
      <wsdl:output message="tns:GetCollwhoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDept">
      <wsdl:input message="tns:GetDeptSoapIn" />
      <wsdl:output message="tns:GetDeptSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeptStm">
      <wsdl:input message="tns:GetDeptStmSoapIn" />
      <wsdl:output message="tns:GetDeptStmSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDivAvg">
      <wsdl:input message="tns:GetDivAvgSoapIn" />
      <wsdl:output message="tns:GetDivAvgSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetKeeping">
      <wsdl:input message="tns:GetKeepingSoapIn" />
      <wsdl:output message="tns:GetKeepingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLoan">
      <wsdl:input message="tns:GetLoanSoapIn" />
      <wsdl:output message="tns:GetLoanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLoanStm">
      <wsdl:input message="tns:GetLoanStmSoapIn" />
      <wsdl:output message="tns:GetLoanStmSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRegMem">
      <wsdl:input message="tns:GetRegMemSoapIn" />
      <wsdl:output message="tns:GetRegMemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertReg">
      <wsdl:input message="tns:InsertRegSoapIn" />
      <wsdl:output message="tns:InsertRegSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRegUser">
      <wsdl:input message="tns:GetRegUserSoapIn" />
      <wsdl:output message="tns:GetRegUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRegUser">
      <wsdl:input message="tns:UpdateRegUserSoapIn" />
      <wsdl:output message="tns:UpdateRegUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetShare">
      <wsdl:input message="tns:GetShareSoapIn" />
      <wsdl:output message="tns:GetShareSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetShareStm">
      <wsdl:input message="tns:GetShareStmSoapIn" />
      <wsdl:output message="tns:GetShareStmSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWhocoll">
      <wsdl:input message="tns:GetWhocollSoapIn" />
      <wsdl:output message="tns:GetWhocollSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckMember">
      <wsdl:input message="tns:CheckMemberSoapIn" />
      <wsdl:output message="tns:CheckMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLogin">
      <wsdl:input message="tns:GetLoginSoapIn" />
      <wsdl:output message="tns:GetLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserPassword">
      <wsdl:input message="tns:GetUserPasswordSoapIn" />
      <wsdl:output message="tns:GetUserPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordSoapIn" />
      <wsdl:output message="tns:ChangePasswordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WptServiceSoap" type="tns:WptServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMember">
      <soap:operation soapAction="http://tempuri.org/GetMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApprvLoan">
      <soap:operation soapAction="http://tempuri.org/GetApprvLoan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCollwho">
      <soap:operation soapAction="http://tempuri.org/GetCollwho" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDept">
      <soap:operation soapAction="http://tempuri.org/GetDept" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeptStm">
      <soap:operation soapAction="http://tempuri.org/GetDeptStm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDivAvg">
      <soap:operation soapAction="http://tempuri.org/GetDivAvg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKeeping">
      <soap:operation soapAction="http://tempuri.org/GetKeeping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoan">
      <soap:operation soapAction="http://tempuri.org/GetLoan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoanStm">
      <soap:operation soapAction="http://tempuri.org/GetLoanStm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegMem">
      <soap:operation soapAction="http://tempuri.org/GetRegMem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertReg">
      <soap:operation soapAction="http://tempuri.org/InsertReg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegUser">
      <soap:operation soapAction="http://tempuri.org/GetRegUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRegUser">
      <soap:operation soapAction="http://tempuri.org/UpdateRegUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShare">
      <soap:operation soapAction="http://tempuri.org/GetShare" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShareStm">
      <soap:operation soapAction="http://tempuri.org/GetShareStm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWhocoll">
      <soap:operation soapAction="http://tempuri.org/GetWhocoll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckMember">
      <soap:operation soapAction="http://tempuri.org/CheckMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogin">
      <soap:operation soapAction="http://tempuri.org/GetLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserPassword">
      <soap:operation soapAction="http://tempuri.org/GetUserPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WptServiceSoap12" type="tns:WptServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMember">
      <soap12:operation soapAction="http://tempuri.org/GetMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApprvLoan">
      <soap12:operation soapAction="http://tempuri.org/GetApprvLoan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCollwho">
      <soap12:operation soapAction="http://tempuri.org/GetCollwho" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDept">
      <soap12:operation soapAction="http://tempuri.org/GetDept" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeptStm">
      <soap12:operation soapAction="http://tempuri.org/GetDeptStm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDivAvg">
      <soap12:operation soapAction="http://tempuri.org/GetDivAvg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKeeping">
      <soap12:operation soapAction="http://tempuri.org/GetKeeping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoan">
      <soap12:operation soapAction="http://tempuri.org/GetLoan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoanStm">
      <soap12:operation soapAction="http://tempuri.org/GetLoanStm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegMem">
      <soap12:operation soapAction="http://tempuri.org/GetRegMem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertReg">
      <soap12:operation soapAction="http://tempuri.org/InsertReg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegUser">
      <soap12:operation soapAction="http://tempuri.org/GetRegUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRegUser">
      <soap12:operation soapAction="http://tempuri.org/UpdateRegUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShare">
      <soap12:operation soapAction="http://tempuri.org/GetShare" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShareStm">
      <soap12:operation soapAction="http://tempuri.org/GetShareStm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWhocoll">
      <soap12:operation soapAction="http://tempuri.org/GetWhocoll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckMember">
      <soap12:operation soapAction="http://tempuri.org/CheckMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogin">
      <soap12:operation soapAction="http://tempuri.org/GetLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserPassword">
      <soap12:operation soapAction="http://tempuri.org/GetUserPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://tempuri.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WptService">
    <wsdl:port name="WptServiceSoap" binding="tns:WptServiceSoap">
      <soap:address location="http://wswebportal/GCOOP/WsWebPortal/WptService.asmx" />
    </wsdl:port>
    <wsdl:port name="WptServiceSoap12" binding="tns:WptServiceSoap12">
      <soap12:address location="http://wswebportal/GCOOP/WsWebPortal/WptService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>