GCOOP/CommonLibrary/Web References/WsReport/Report.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://isocare.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://isocare.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://isocare.org/">
      <s:element name="ReportPDF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wsPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pkApplication" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pkGroupID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pkReportID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlCriteria" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pdfFileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReportPDFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReportPDFResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReportPDF_PrintServer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wsPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pkApplication" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pkGroupID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pkReportID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlCriteria" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pdfFileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReportPDF_PrintServerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReportPDF_PrintServerResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPDFURL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wsPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPDFURLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPDFURLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wsPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pkApplication" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pkGroupID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pkReportID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetReportDetailResult" type="tns:str_webreportdetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="str_webreportdetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="application" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="group_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="report_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="report_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="report_dwobject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="report_criobject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="report_creobject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="report_comment" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="used_flag" type="s:short" />
        </s:sequence>
      </s:complexType>
      <s:element name="Run">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wsPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pkApplication" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pkGroupID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pkReportID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlCriteria" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pdfFileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RunResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunWithID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wsPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pkApplication" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pkGroupID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pkReportID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlCriteria" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pdfFileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunWithIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RunWithIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wspass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pkApplication" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pkGroupID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pkReportID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Stop">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wsPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pkApplication" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pkGroupID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pkReportID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StopResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StopResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReportPDFSoapIn">
    <wsdl:part name="parameters" element="tns:ReportPDF" />
  </wsdl:message>
  <wsdl:message name="ReportPDFSoapOut">
    <wsdl:part name="parameters" element="tns:ReportPDFResponse" />
  </wsdl:message>
  <wsdl:message name="ReportPDF_PrintServerSoapIn">
    <wsdl:part name="parameters" element="tns:ReportPDF_PrintServer" />
  </wsdl:message>
  <wsdl:message name="ReportPDF_PrintServerSoapOut">
    <wsdl:part name="parameters" element="tns:ReportPDF_PrintServerResponse" />
  </wsdl:message>
  <wsdl:message name="GetPDFURLSoapIn">
    <wsdl:part name="parameters" element="tns:GetPDFURL" />
  </wsdl:message>
  <wsdl:message name="GetPDFURLSoapOut">
    <wsdl:part name="parameters" element="tns:GetPDFURLResponse" />
  </wsdl:message>
  <wsdl:message name="GetReportDetailSoapIn">
    <wsdl:part name="parameters" element="tns:GetReportDetail" />
  </wsdl:message>
  <wsdl:message name="GetReportDetailSoapOut">
    <wsdl:part name="parameters" element="tns:GetReportDetailResponse" />
  </wsdl:message>
  <wsdl:message name="RunSoapIn">
    <wsdl:part name="parameters" element="tns:Run" />
  </wsdl:message>
  <wsdl:message name="RunSoapOut">
    <wsdl:part name="parameters" element="tns:RunResponse" />
  </wsdl:message>
  <wsdl:message name="RunWithIDSoapIn">
    <wsdl:part name="parameters" element="tns:RunWithID" />
  </wsdl:message>
  <wsdl:message name="RunWithIDSoapOut">
    <wsdl:part name="parameters" element="tns:RunWithIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetStatus" />
  </wsdl:message>
  <wsdl:message name="GetStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetStatusResponse" />
  </wsdl:message>
  <wsdl:message name="StopSoapIn">
    <wsdl:part name="parameters" element="tns:Stop" />
  </wsdl:message>
  <wsdl:message name="StopSoapOut">
    <wsdl:part name="parameters" element="tns:StopResponse" />
  </wsdl:message>
  <wsdl:portType name="ReportSoap">
    <wsdl:operation name="ReportPDF">
      <wsdl:input message="tns:ReportPDFSoapIn" />
      <wsdl:output message="tns:ReportPDFSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReportPDF_PrintServer">
      <wsdl:input message="tns:ReportPDF_PrintServerSoapIn" />
      <wsdl:output message="tns:ReportPDF_PrintServerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPDFURL">
      <wsdl:input message="tns:GetPDFURLSoapIn" />
      <wsdl:output message="tns:GetPDFURLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReportDetail">
      <wsdl:input message="tns:GetReportDetailSoapIn" />
      <wsdl:output message="tns:GetReportDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Run">
      <wsdl:input message="tns:RunSoapIn" />
      <wsdl:output message="tns:RunSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RunWithID">
      <wsdl:input message="tns:RunWithIDSoapIn" />
      <wsdl:output message="tns:RunWithIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <wsdl:input message="tns:GetStatusSoapIn" />
      <wsdl:output message="tns:GetStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <wsdl:input message="tns:StopSoapIn" />
      <wsdl:output message="tns:StopSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReportSoap" type="tns:ReportSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReportPDF">
      <soap:operation soapAction="http://isocare.org/ReportPDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportPDF_PrintServer">
      <soap:operation soapAction="http://isocare.org/ReportPDF_PrintServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPDFURL">
      <soap:operation soapAction="http://isocare.org/GetPDFURL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportDetail">
      <soap:operation soapAction="http://isocare.org/GetReportDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Run">
      <soap:operation soapAction="http://isocare.org/Run" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunWithID">
      <soap:operation soapAction="http://isocare.org/RunWithID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <soap:operation soapAction="http://isocare.org/GetStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <soap:operation soapAction="http://isocare.org/Stop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ReportSoap12" type="tns:ReportSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReportPDF">
      <soap12:operation soapAction="http://isocare.org/ReportPDF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportPDF_PrintServer">
      <soap12:operation soapAction="http://isocare.org/ReportPDF_PrintServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPDFURL">
      <soap12:operation soapAction="http://isocare.org/GetPDFURL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportDetail">
      <soap12:operation soapAction="http://isocare.org/GetReportDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Run">
      <soap12:operation soapAction="http://isocare.org/Run" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunWithID">
      <soap12:operation soapAction="http://isocare.org/RunWithID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <soap12:operation soapAction="http://isocare.org/GetStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <soap12:operation soapAction="http://isocare.org/Stop" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Report">
    <wsdl:port name="ReportSoap" binding="tns:ReportSoap">
      <soap:address location="http://localhost/FSCT/GCOOP/WebServiceReport/Report.asmx" />
    </wsdl:port>
    <wsdl:port name="ReportSoap12" binding="tns:ReportSoap12">
      <soap12:address location="http://localhost/FSCT/GCOOP/WebServiceReport/Report.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>